{:paths ["src"]
 :deps {techascent/tech.ml.dataset {:mvn/version "6.078"}
        cnuernber/dtype-next {:mvn/version "9.027-SNAPSHOT"}
        com.cnuernber/charred {:mvn/version "1.007"}
        com.cnuernber/ham-fisted {:mvn/version "1.000-alpha-1"}
        metosin/jsonista {:mvn/version "0.3.5"}
        criterium/criterium {:mvn/version "0.4.5"}
        techascent/tech.viz {:mvn/version "6.00-beta-16-2"}}
 :aliases
 {:dev {:jvm-opts ["-XX:+PrintCompilation" "-XX:+UnlockDiagnosticVMOptions" "-XX:+PrintInlining"]}}}
